.card {
  width: rem(280);
  height: ren(459);
  display: flex;
  flex-direction: column;
  &__img {
    width: rem(260);
    height: rem(260);
  }

  &__title {
    display: flex;
    justify-content: center;
    padding: rem(11) 0 rem(22) 0;
    font-style: normal;
    font-weight: 800;
    font-size: rem(20);
    line-height: rem(24);
    text-align: center;
    letter-spacing: 0.01em;
    color: #000000;
  }

  &__data {
  }

  &__selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: rem(22);
    line-height: rem(27);
    letter-spacing: 0.015em;
    color: #000000;

    &-price {
    }
  
    &-button {
      background: #FFFFFF;
      border: 1px solid #EB5A1E;
      border-radius: 30px;
      padding: rem(11) rem(18) rem(11) rem(18);
      cursor: pointer;
      display: flex;
      align-items: center;
      svg {
        padding-right: rem(7);
      }
    }
    &-amount {
      font-style: normal;
      font-weight: 700;
      font-size: 13px;
      line-height: 16px;
      color: #FFFFFF;
      background: #EB5A1E;
      width: 22px;
      height: 22px;
      border-radius: rem(50);
      margin-left: rem(5);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.data-item {
    width: rem(280);
    height: rem(85);
    background: #F3F3F3;
    border-radius: 10px;
    margin-bottom: rem(17);
  &__types {
    font-style: normal;
    font-weight: 700;
    font-size: rem(14);
    line-height: rem(17);
    text-align: center;
    letter-spacing: 0.015em;
    color: #2C2C2C;
    display: flex;
    height: rem(32);
    align-items: center;
    text-align: center;
    padding: rem(7) 0 rem(7) rem(9);
    gap: rem(10);

    &-type1 {
     padding: rem(6) rem(30) rem(6) rem(30);
      background: #FFFFFF;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
      border-radius: 5px;
      display: flex;
      border: 0;
    }
  
    &-type2 {
      padding: rem(6) rem(30) rem(6) rem(30);
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
      border-radius: 5px;
      display: flex;
      border: 0;
    }
  }

  &__sizes {
    display: flex;
    height: rem(32);
    padding-left: rem(9);
    gap: rem(11);
    &-size1 {
        background: #FFFFFF;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
        border-radius: 5px;
        border: 0;
        padding: 0 rem(20);
    }
  
    &-size2 {
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
      border-radius: 5px;
      border: 0;
      padding: 0 rem(20);
    }
  
    &-size3 {
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
      border-radius: 5px;
      border: 0;
      padding: 0 rem(20);
    }
  }

}
.selection-button-active {
  background: #FE5F1E;
  color: #FFFFFF;
  border-radius: 30px;
  padding: rem(11) rem(18) rem(11) rem(18);
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  svg {
    padding-right: rem(7);
    path {
      fill: #FFFFFF;
    }
  }
}
